astroid==2.12.9
autopep8==1.7.0
bcrypt==4.0.0
black==22.8.0
click==8.1.3
colorama==0.4.5
dill==0.3.5.1
Django==2.2
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
mypy-extensions==0.4.3
pathspec==0.10.1
platformdirs==2.5.2
pycodestyle==2.9.1
pylint==2.15.2
pytz==2022.4
sqlparse==0.4.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
wrapt==1.14.1
yapf==0.32.0
