* {
    margin: 0 auto;
    /* padding: 0; */
    
}

.container {
    width: 90%;
    /* border: 1px solid black; */
}

.dashboard {
    width: 95%;
    border: 1px solid black;
    display: flex;
    /* border-radius: 5px; */
    /* padding: 10px; */
}

.car_list {
    display: flex;
}

.nav_bar {
    display: flex;
    text-align: center;
}


.car_pic {
    width: 80px;
    height: 80px;
}

/* .search_result {
    width: 80%;
} */

.sorting {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.car_box {
    display: flex;
    color: azure;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(78, 78, 78);
}



.btn {
    height: 50px;
}


