{% extends 'base.html' %}
{% block content%}

<div class="container">
    <div class="row">
        <a href="/my_dashboard/provider_dashboard/">
            <button type="submit" class="btn-outline">Home</button>
        </a>
    </div>
    <div class="row gy-5 m-5 ">
        <h4 class="text-center">Welcome, {{request.session.provider_name}}</h4>
        <h5>Edit Car {{car.brand}}</h5>
        <div class="col car_form">
            <div class="row car_details">
                <form action="/my_dashboard/edit_my_car/{{car.id}}/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="brand" class="form-label">Select Brand: {{car.brand}}</label>
                            <textarea name="brand" class="form-control" id="model" cols="20" rows="1" required>{{car.brand}}</textarea>
                        </div>
                        <div class="col-lg-6">
                            <label for="model" class="form-label">Model</label>
                            <textarea name="model" class="form-control" id="model" cols="20" rows="1" required>{{car.model}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="color" class="form-label">Color</label>
                            <textarea name="color" class="form-control" id="color" cols="20" rows="1" required>{{car.color}}</textarea>
                        </div>
                        <div class="col-lg-6">
                            <label for="production_year" class="form-label">Production year</label>
                            <textarea name="production_year" class="form-control" id="production_year" cols="20" rows="1" required>{{car.production_year}}</textarea>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="plate_number" class="form-label">Plate Number</label>
                            <textarea name="plate_number" class="form-control" id="production_year" cols="20" rows="1" required>{{car.plate_number}}</textarea>
                        </div>
                        <div class="col-lg-6">
                            <div class="row-6">
                                <label for="price" class="form-label">Price</label>
                                <textarea name="price" class="form-control" id="price" cols="20" rows="1" required>{{car.price}}</textarea>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label for="photo" class="form-label">Car Photo</label>
                            <img src="{{car.photo.url}}" alt="photo_test" width="100px" height="100px" class="rounded-circle">
                            <input type="file" class="form-control" name="photo" id="photo">
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn btn-secondary my-4 p-3" type="submit">Edit Car</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row gy-4">
            <div class="all_cars">
                <h5>All my cars</h5>
                <table class="table">
                    <thead class="position">
                        <tr>
                            <th scope="col">Photo</th>
                            <th scope="col">Car</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for car in provider.cars.all %}
                        <tr class="display">
                            <td scope="row" name="photo"><img src="{{car.photo.url}}" alt="photo_test" width="20px" height="20px" class="rounded-circle"></td>
                            <td scope="row" name="car_id"><span>{{car.brand}}</span></td>
                            <td>
                                <input type="hidden" name="car_id" value="{{ car.id }}">
                                <a href="/my_dashboard/edit_car/{{car.id}}/">Edit</a>
                                <a href="/my_dashboard/delete_car/{{car.id}}/">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}