{% extends 'base.html' %}
{% block content%}

<div class="container add-car-body edit-form-width ">
    <h4 class="text-center mb-3">Update your car info</h4>
    <div class="car_form search_result mb-4">
        <input type="hidden" name="car_id" value="{{car.id}}">
            <form action="/my_dashboard/edit_my_car/{{car.id}}/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row car_details">
                    <div class="mb-3 col-md-12">
                        <label for="brand" class="form-label">Brand</label>
                        <textarea type="text" class="form-control" name="brand" rows="1" id="brand" required> {{car.brand}}</textarea>
                    </div>
                    <div class="mb-3 col-md-12">
                        <label for="model" class="form-label">Model</label>
                        <textarea name="model" class="form-control" id="model" rows="1" required>{{car.model}}</textarea>
                        <div class="invalid-feedback">
                            Model is required.
                        </div>
                    </div>
                    <div class="mb-3 col-md-12">
                        <label for="color" class="form-label">Color</label>
                        <textarea name="color" class="form-control" id="color"rows="1" required>{{car.color}}</textarea>
                        <div class="invalid-feedback">
                            Color is required.
                        </div>
                    </div>
                    <div class="mb-3 col-md-12">
                        <label for="production_year" class="form-label">Production year</label>
                        <textarea name="production_year" class="form-control" id="production_year" rows="1" required>{{car.production_year}}</textarea>
                        <div class="invalid-feedback">
                            Production Year is required.
                        </div>
                    </div>
                    <div class="mb-3 col-md-12">
                        <label for="plate_number" class="form-label">Plate Number</label>
                        <textarea name="plate_number" class="form-control" id="production_year" rows="1" required>{{car.plate_number}}</textarea>
                        <div class="invalid-feedback">
                            Plate Number is required.
                        </div>
                    </div>
                    <div class="mb-3 col-md-12">
                        <label for="price" class="form-label">Price</label>
                        <textarea name="price" class="form-control" id="price" rows="1" required>NIS {{car.price}}</textarea>
                        <div class="invalid-feedback">
                            Production Year is required.
                        </div>
                    </div>
                    <div class="mb-3 col-md-12">
                        <label for="car_photo" class="form-label">Enter a new photo's url</label>
                        <textarea type="text" class="input-upload form-control form-control-lg mb-3" name="car_photo" id="car_photo"></textarea>
                        <div class="edit-photo">
                            <img src="{{car.car_photo}}" class="mb-4" alt="photo_test" width="60%">
                            <button class="btn btn-info" style="width: 150px;">Update car</button>
                        </div>
                    </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}