{% extends 'base.html' %}
{% block content%}
<br><br>
<div class="container py-5">
    <div class="pt-2">
        <div class="d-flex pb-2">
            <div>
                <p>
                    <h3> Booking for <span class="text-primary">{{car_to_book.brand}} </span><span
                        class="text-success">10 days</span></h3>
                </p>
            </div>
            <div class="ms-auto">
                <p class="text-primary">
                    <i class="fas fa-plus-circle text-primary pe-1"></i>
                    <input type="hidden" name="customer_id" value="{{customer.id}}"><br>
                </p>
            </div>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-white rounded font-weight-bold text-center">
            <p>
                Please inform that the due charges will be on hold till car provider make the final payment_confirmation.
            </p>
            <p>
                In case rejection of booking, the paid amount will be back in your balance.
            </p>
            <p>
                Please keep an eye on your email inbox; You will receive and eamil wheather for confirmation or rejection.
            </p>
        </div>
        <div class="row my-100">
            <div class="col-lg-5">
                <div class="col col-lg-10">
                    <div class="rounded d-flex flex-column shadow p-3 mb-5 bg-white rounded" style="background-color: #f8f9fa;">
                        <div class="p-2 me-3">
                            <h4 class="font-weight-bold">Booking Receipt</h4>
                        </div>
                        <div class="p-2 d-flex">
                            <div class="col-8">Car Brand</div>
                            <div class="ms-auto font-weight-bold">{{car_to_book.brand}}</div>
                        </div>
                        <div class="p-2 d-flex">
                            <div class="col-8">Pick up date</div>
                            <div class="ms-auto font-weight-bold">10/10/2022</div>
                        </div>
                        <div class="p-2 d-flex">
                            <div class="col-8">Drop off date</div>
                            <div class="ms-auto font-weight-bold">20/10/2022</div>
                        </div>
                        <div class="p-2 d-flex">
                            <div class="col-8">Total days</div>
                            <div class="ms-auto font-weight-bold">10 days</div>
                        </div>
                        <div class="border-top px-2 mx-2"></div>
                        <div class="p-2 d-flex pt-3">
                            <div class="col-8">Price per day</div>
                            <div class="ms-auto font-weight-bold">$150.00</div>
                        </div>
                        <div class="p-2 d-flex pt-3">
                            <div class="col-8">Discount</div>
                            <div class="ms-auto font-weight-bold">%0.0</div>
                        </div>
                        <div class="border-top px-2 mx-2"></div>
                        <div class="p-2 d-flex pt-3">
                            <div class="col-8"><b>Total</b></div>
                            <div class="ms-auto font-weight-bold"><b class="text-success">${{car_to_book.price}}.00</b></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 shadow p-3 mb-5 bg-white rounded">
                <form action="/my_dashboard/confirm_book/{{car_to_book.id}}/" method="post" class="pb-3">
                    {% csrf_token %}
                    {% if customer_cards.count > 0 %}
                    {% for card in customer_cards %}
                    <div class="col-lg-11 m-2 border border-1 rounded">
                        <div class="d-flex align-items-center pe-2">
                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value=""
                                aria-label="..." checked />
                            <h6 class="col">{{card.card_type}}</h6>
                            <h6 class="col">{{card.card_owner}}</h6>
                            <h6 class="col">{{card.card_number}}</h6>
                            <h6 class="col">{{card.expiration_mm}}</h6>
                            <h6 class="col">{{card.expiration_yyyy}}</h6>
                        </div>
                    </div>
                    {% endfor %}
                    <button class="btn btn-success m-2" type="submit">Confirm Booking</button>
                    <button class="btn btn-secondary mx-2" type="submit"><a style="color: white;"
                            href="/my_dashboard/">Cancel</a></button><br>
                    <div class="row mx-1 my-4">
                        <a href="/my_dashboard/customer_payment_method/{{customer_id}}/">Add another card</a>
                    </div>
                    {% else %}
                    <div class="font-weight-bold" style="color:green">
                        <p>You didn't add any cards yet, please add card to proceed!</p>
                        <button class="btn btn-secondary mx-2" type="submit"><a style="color: white;"
                                href="/my_dashboard/customer_payment_method/{{customer_id}}/">Add payment method
                            </a></button>
                        <button class="btn btn-secondary mx-2 my-2" type="submit"><a style="color: white;"
                                href="/my_dashboard/">Cancel</a></button><br>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}