{% extends 'base.html' %}
{% block content%}

<div class="site-wrap" id="home-section">
    <div class="container-fluid cars-container m-5">
        <div class="row">
        <h2 class="clo-md-12 mb-4">Your Shop</h2>
        </div>
        <div class="row">
        <div class="dashboard col-md-12">
            <div class="nav_bar row">
                <h5 class="col-md-4">My Cars status:</h5>
                <select class="col-md-8" name="shop_sorting" id="">
                    <option value="all">All</option>
                    <option value="rental_car">Rental Cars</option>
                    <option value="in_shop">In Shop</option>
                </select>
            </div>
                    <div class="search_result car_list">
                        {% for car in provider_cars %}
                            <div class="car_box">
                            <img src="{{car.photo.url}}" alt="photo_test" width="80px" height="80px">
                            <div class="car_details">
                                <h6>{{car.brand}}</h6>
                                <h6>{{car.production_year}}</h6>
                                <h6>{{car.color}}</h6>
                            </div>
                            <div class="payment_details">
                                <h6>Tenant: {{request.session.provider_name}}</h6>
                                <h6>Price: {{car.price}}</h6>
                            </div>
                            <div class="dates">
                                <h6>picked up date: 10/10/2022</h6>
                                <h6>droped off date: 20/10/2022</h6>
                                <h6>days: 10</h6>
                            </div>
                            <a href="/my_dashboard/provider_car_details/{{car.id}}/">
                                <button class="btn btn-primary">View Car</button>
                            </a>
                            </div>
                                    {% endfor %}
                        </div>
                </div>
        </div>
    </div>
</div>
{%endblock%}