{% extends 'base.html' %}
{% block content%}

    <div class=" container cars-container">
        <div class="row">
        <h2 class="clo-md-12 mb-4">Your Shop</h2>
        </div>
        <div class="row">
            <div class="dashboard col-md-12">
                <div class="car_list p-4">
                        {% for car in provider_cars %}
                            <div class="search_result car_box mb-3 p-4 row">
                                <div class="col-md-5 mr-2">
                                    <div class="car_details">
                                        <ol>
                                            <li>Brand: {{car.brand}}</li>
                                            <li>Production year: {{car.production_year}}</li>
                                            <li>Color: {{car.color}}</li>
                                        </ol>
                                    </div>
                                    <div class="payment_details">
                                        <ol>
                                            <li>Tenant: {{request.session.provider_name}}</li>
                                            <li>Price: {{car.price}}</li>
                                        </ol>
                                    </div>
                                    <div class="dates">
                                        <ol>
                                            <li>Pick up date: {{car.cars_booked.pick_up_date}}</li>
                                            <li>Drop off date: {{car.cars_booked.drop_off_date}}</li>
                                            <li>Period: {{period}}</li>
                                        </ol>
                                    </div>
                                    <div class="text-center">
                                    <a href="/my_dashboard/edit_car/{{car.id}}/"><button class="btn btn-outline-info">Edit</button></a>
                                    <a href="/my_dashboard/delete_car/{{car.id}}/"><button class="btn btn-outline-danger">Delete</button></a>
                                </div>
                                </div>
                                <img class="col-md-6" src="{{car.car_photo}}" alt="photo_test">
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>

{%endblock%}