<!doctype html>
<html lang="en">
<head>
  <title>PalRent</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
    integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  {% load static%}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="/static/js/main.js"></script>
</head>
<body>
  <div class="popup" id="popup">
    <img src="/static/images/tick.png">
    <h3>Thank you!</h3>
    <p>We received your message! Your feedback will be taken into consideration.</p>
    <button type="button" onclick="closePopup()">OK</button>
  </div>
    <header class="site-navbar site-navbar-target" role="banner">
      <div class="container">
        <div class="row align-items-center position-relative">
          <div class="col-3">
            <div class="site-logo">
              <a href="/"><img class="palrent-logo" src="/static/images/logo-1.png" alt="PalRent logo"></a>
            </div>
          </div>
          <div class="col-9  text-right">
            <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span
                  class="icon-menu h3 text-black"></span></a></span>
            <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
              <ul class="site-menu main-menu js-clone-nav ml-auto ">
                {% if "customer_id" in request.session %}
                <li class="active"><a href="/my_dashboard/" class="nav-link">Home</a></li>
                <li><a href="/my_dashboard/customer_account/{{request.session.customer_id}}/" class="nav-link">My
                    account</a></li>
                {% endif %}
                <li><a href="/contact/" class="nav-link">Contact</a></li>
                {% if "provider_id" in request.session %}
                <li>
                  <a href="my_dashboard/provider_dashboard/">
                    <button class="btn btn-info btn-sm">My Dashboard</button>
                  </a>
                </li>
                {% endif %}
                {% if "sign_out" not in request.session %}
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sign in
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                  
                      <div id="login-form" class="login-form px-3">
                        <form action="/login/" method="post">
                          {% csrf_token %}
                          <!-- Email inpute -->
                          {% for error in messages%}
                          <ul>
                            <li>
                              {{error}}
                            </li>
                          </ul>
                          {% endfor %}
                          <div class="form-outline mb-4">
                            <label class="form-label" for="email">Email address</label>
                            <input type="email" id="email" name="email" class="form-control" />
                          </div>
                          <!-- Password input -->
                          <div class="form-outline mb-4">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control" />
                          </div>
                          <!-- 2 column grid layout for inline styling -->
                          <div class="row mb-4">
                            <div class="col d-flex justify-content-center">
                              <!-- Checkbox -->
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox" />
                                <label class="form-check-label" for="checkbox"> Remember me </label>
                              </div>
                            </div>
                            <div class="col">
                              <!-- Simple link -->
                              <a href="#!">Forgot password?</a>
                            </div>
                          </div>
                          <!-- Submit button -->
                          <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                        </form>
                        <!-- Register buttons -->
                        <div class="text-center">
                          <p>Not a member? <a href="/register/">Register</a></p>
                        </div>
                      </div>
                </div>
                </div>
                {% else %}
                <li>
                  <button class="btn btn-dark btn-sm"><span><a href="/delete/"
                    style="color: white;">Sign Out</a></span></button>
                  </li>
                {% endif %}
              </ul>
              <div class="row justify-content-center">
                <div class="col-9">
                  {% if "customer_id" in request.session %}
                  <div class="row">
                    <div class="col-11">
                      <input type="hidden" name="customer_id" value="{{customer.id}}">
                      <!-- <h2>Welcome {{request.session.customer_first_name}}</h2> -->
                    </div>
                    <div class="col-1">
                    </div>
                  </div>
                  {% endif %}
                  {% if "provider_id" in request.session %}
                  <!-- <h2>Welcome {{request.session.provider_name}}</h2> -->
                  {% endif %}
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="hero" style="background-image: url(' /static/images/hero_1_a.jpg') ;">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-10">
            <div class="row mb-5">
              <div class="col-lg-7 intro">
                <h1><strong>Rent a car</strong> is within your finger tips.</h1>
              </div>
            </div>
            <form class="trip-form" action="/search_result/" method="POST">
              {% csrf_token %}
              <div class="row align-items-center">
                <div class="col-md-3 mb-2">
                  <label for="location" class="form-label">Location</label>
                  <!-- FIXME: send a id as jinja -->
                  <select name="location" class="custom-select form-control">
                    {% for provider in all_providers%}
                    <option value="{{provider.location}}">{{provider.location}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-3 mb-2">
                  <div class="form-control-wrap">
                    <label for="pick_up_date" class="form-label">Pick-up Date</label>
                    <input type="date" id="cf-3" placeholder="Pick up" name="pick_up_date"
                      class="form-control datepicker px-4">
                    <span class="icon icon-date_range"></span>
                  </div>
                </div>
                <div class="col-md-3 mb-2">
                  <div class="form-control-wrap">
                    <label for="drop_off_date" class="form-label">Drop-off Date</label>
                    <input type="date" id="cf-4" placeholder="Drop off" name="drop_off_date"
                      class="form-control datepicker px-4">
                    <span class="icon icon-date_range"></span>
                  </div>
                </div>
                <div class="col-md-3  mt-4">
                  <input type="submit" value="Search Now" class="btn btn-primary btn-block py-3 my-3">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <h2 class="section-heading"><strong>How it works?</strong></h2>
        <p class="mb-5">Easy steps to get you started</p>
        <div class="row mb-5">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="step">
              <span>1</span>
              <div class="step-inner">
                <span class="number text-primary">01.</span>
                <h3>Select a car</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="step">
              <span>2</span>
              <div class="step-inner">
                <span class="number text-primary">02.</span>
                <h3>Fill up form</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="step">
              <span>3</span>
              <div class="step-inner">
                <span class="number text-primary">03.</span>
                <h3>Payment</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-8 text-center order-lg-2">
            <div class="img-wrap-1 mb-5">
              <img src="{% static 'images/feature_02.png' %}" alt="image" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-4 ml-auto order-lg-1">
            <h3 class="mb-4 section-heading"><strong>Are you a company that provides car rental service?</strong></h3>
            <p class="mb-5">Now with PalRent we can make it easier for you to rent your cars! Our service is fast, easy,
              and reliable!</p>
            <p><a href="/register/" class="btn btn-primary">Join Us!</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h2 class="section-heading"><strong>Most Trending Cars</strong></h2>
            <p class="mb-5">Check out our most populars cars!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="listing d-block  align-items-stretch">
              <div class="listing-img h-100 mr-4">
                <img src="{% static 'images/car_6.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="listing-contents h-100">
                <h3>Mitsubishi Pajero</h3>
                <div class="rent-price">
                  <strong>NIS 250.00</strong><span class="mx-1">/</span>day
                </div>
                <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                  <div class="listing-feature pr-4">
                    <span class="caption">Luggage:</span>
                    <span class="number">8</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Doors:</span>
                    <span class="number">4</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Passenger:</span>
                    <span class="number">4</span>
                  </div>
                </div>
                <div>
                  <p><a href="/register/" class="btn btn-primary btn-sm">Rent Now</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="listing d-block  align-items-stretch">
              <div class="listing-img h-100 mr-4">
                <img src="{% static 'images/car_5.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="listing-contents h-100">
                <h3>Nissan Moco</h3>
                <div class="rent-price">
                  <strong>NIS 250.00</strong><span class="mx-1">/</span>day
                </div>
                <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                  <div class="listing-feature pr-4">
                    <span class="caption">Luggage:</span>
                    <span class="number">8</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Doors:</span>
                    <span class="number">4</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Passenger:</span>
                    <span class="number">4</span>
                  </div>
                </div>
                <div>
                  <p><a href="/register/" class="btn btn-primary btn-sm">Rent Now</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="listing d-block  align-items-stretch">
              <div class="listing-img h-100 mr-4">
                <img src="{% static 'images/car_4.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="listing-contents h-100">
                <h3>Honda Fitta</h3>
                <div class="rent-price">
                  <strong>NIS 250.00</strong><span class="mx-1">/</span>day
                </div>
                <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                  <div class="listing-feature pr-4">
                    <span class="caption">Luggage:</span>
                    <span class="number">8</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Doors:</span>
                    <span class="number">4</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Passenger:</span>
                    <span class="number">4</span>
                  </div>
                </div>
                <div>
                  <p><a href="/register/" class="btn btn-primary btn-sm">Rent Now</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="listing d-block  align-items-stretch">
              <div class="listing-img h-100 mr-4">
                <img src="{% static 'images/car_3.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="listing-contents h-100">
                <h3>Skoda Laura</h3>
                <div class="rent-price">
                  <strong>NIS 250.00</strong><span class="mx-1">/</span>day
                </div>
                <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                  <div class="listing-feature pr-4">
                    <span class="caption">Luggage:</span>
                    <span class="number">8</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Doors:</span>
                    <span class="number">4</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Passenger:</span>
                    <span class="number">4</span>
                  </div>
                </div>
                <div>
                  <p><a href="/register/" class="btn btn-primary btn-sm">Rent Now</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="listing d-block  align-items-stretch">
              <div class="listing-img h-100 mr-4">
                <img src="{% static 'images/car_2.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="listing-contents h-100">
                <h3>Mazda LaPuta</h3>
                <div class="rent-price">
                  <strong>NIS 250.00</strong><span class="mx-1">/</span>day
                </div>
                <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                  <div class="listing-feature pr-4">
                    <span class="caption">Luggage:</span>
                    <span class="number">8</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Doors:</span>
                    <span class="number">4</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Passenger:</span>
                    <span class="number">4</span>
                  </div>
                </div>
                <div>
                  <p><a href="/register/" class="btn btn-primary btn-sm">Rent Now</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="listing d-block  align-items-stretch">
              <div class="listing-img h-100 mr-4">
                <img src="{% static 'images/car_1.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="listing-contents h-100">
                <h3>Buick LaCrosse</h3>
                <div class="rent-price">
                  <strong>NIS 250.00</strong><span class="mx-1">/</span>day
                </div>
                <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                  <div class="listing-feature pr-4">
                    <span class="caption">Luggage:</span>
                    <span class="number">8</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Doors:</span>
                    <span class="number">4</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Passenger:</span>
                    <span class="number">4</span>
                  </div>
                </div>
                <div>
                  <p><a href="/register/" class="btn btn-primary btn-sm">Rent Now</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section bg-primary py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 mb-4 mb-md-0">
            <h2 class="mb-0 text-white">What are you waiting for?</h2>
            <p class="mb-0 opa-7">We make it easier!</p>
          </div>
          <div class="col-lg-5 text-md-right">
            <a href="/register/" class="btn btn-primary btn-white">Rent a car now</a>
          </div>
        </div>
      </div>
    </div>
    <footer class="site-footer">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-3">
            <h2 class="footer-heading mb-4">About Us</h2>
            <p>PalRent is the first of it's kind in Palestine for renting cars. Whether you are a driver or a car provider, PalRent makes it easier for you!</p>
            <ul class="list-unstyled social">
              <li><a href="/"><img src="https://cdn-icons-png.flaticon.com/512/2504/2504903.png" alt="fb"
                    height="40px"></span></a>
              </li>
              <li><a href="/"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="inst"
                    height="40px"></a></li>
              <li><a href="/"><img src="https://cdn-icons-png.flaticon.com/512/3256/3256013.png" alt="tw"
                    height="40px"></a></li>
              <li><a href="/"><img src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png" alt="in"
                    height="40px"></a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h2 class="footer-heading mb-4">Quick Links</h2>
            <ul class="list-unstyled">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="sponsors">
            <h5>Our sponsors:</h5>
            <img src="/static/images/sponsers.png" alt="sponsers">
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>